body {
	font-family: 'Montserrat';
}

/* title section */

#title {
	background-color: #ff4c68;
	position: relative;
	overflow: hidden;
}

.container-fluid {
	padding: 3% 15% 3% 15%;
	padding-bottom: 0px;
}

#iphone {
	height: 600px;
	transform: rotate(25deg);
	position: relative;
	top: 80px;
	padding-left: 80px ;
}

@media (max-width: 900px) {
	#iphone {
		transform: rotate(0deg);
		right: 50px;
	}
}
.col-lg-6 {
	margin: auto;
	text-align: left;

}
.col-lg-6 h1 {
	font-size: 3.5rem;
	font-family: 'Montserrat-Bold';
	font-weight: 900;
	color: white;
	margin: 0;
	line-height: 1.3;
	margin-bottom: 50px;
}

/* nav bar */

.nav-item {
	padding-left: 2rem;
}

.navbar{
	font-family: 'Montserrat-Light';
	font-size: 1.5rem;
	padding: 0px;
	padding-bottom: 20px;
}

.navbar-brand{
	font-size: 2.2rem;
	font-weight: bold;
}

/* features section */

.feature_row {
	text-align: center;
	padding: 80px;
	margin: auto;
}

.feature_row .col-lg-4 {
	padding-bottom: 40px;
}

.feature_row h3{
	padding: 10px 0px 10px 0px;
	font-family: 'montserrat-bold';
	font-weight: 900;
	font-size: 1.5rem;
}

.feature_row p {
	font-family: 'Ubuntu';
	font-weight: 300;
	padding: 0px 20px 0px 20px;
}

.fa-solid {
	color: #FF6D83;
}

.fa-solid:hover {
	color: red;
}

/* testimonials section */

#testimonials {
	padding: 7% 15%;
	padding-left: 100px;
	padding-right: 100px;
	background-color: #ff4c68;
	color: white;

}

#testimonials h2{
	font-size: 30px;
	font-family: 'ubuntu';
	font-weight: 700;
	line-height: 1.3;
	text-align: left;
}

@media (max-width: 900px) {
	#testimonials h2{
	font-size: 20px;
	line-height: 1.1;

	}
}

.testi-img {
	 width: 200px;
	 border-radius: 100%;
	 margin: 40px;
}


.parent {
	display: flex;
	align-items: center;
}

.name {
	position: relative;
	left: 60px;
}

#testimonials h1{
	font-size: 3rem;
	font-family: 'Montserrat-Bold';
	font-weight: 900;
	margin: 0;
	line-height: 1.3;
	text-align: left;
	padding: 0px 0px 50px 40px;
}
/* pricing */
.row {
	text-align: center;
}

.sp {
	margin-top: 40px;
}

.row {
	margin: 0px;
}

.card {
	margin-bottom: 20px;
}

.pricing-content {
	padding: 40px 0px 40px 0px;
	margin: 0px 15px 0px 15px;
	text-align: center;
}

.pricing-content h2 {
	font-size: 3rem;
	font-family: 'Montserrat-Bold';
	font-weight: 900;
}

.pricing-content p {
	color: gray;
}

.row h3 {
	font-size: 2.4rem;
	font-weight: bold;
	font-family: 'Montserrat-Bold';
}

.row h2 {
	padding-bottom: 20px;

}

.row p {
	line-height: 1.2;
	font-size: 1.2rem;
	font-family: 'ubuntu';
}


/* footer */
#cta{
	padding: 4% 15%;
	background-color: #ff4c68;
	text-align: center;
	margin-top: 20px;
}

#cta h3 {
	font-size: 3rem;
	font-family: 'Montserrat-Bold';
	color: white;
	font-weight: 900;
	line-height: 1.3;
	padding-bottom: 20px;
}

@media (max-width: 900px) {
	#cta h3 {
	font-size: 2rem;

	}
}

.footer-button{
	margin-left: 20px;
}

#footer {
	margin: 80px 50px 80px 50px;
	text-align: center;
}

#footer i {
	margin-left: 10px;
}